.btn {
    text-transform: uppercase;
    font-weight:400;
    color: var(--text-color, #000);
	width: fit-content;
	padding: 1rem;
	border-radius: 0.5rem;
	border: none;
    cursor:pointer;
    background-color:var(--background-color, #fff);
    transition: all .3s ease-in-out;

    &:hover {
        color:#fff;
        background: #ffac99;
    }
}