#callToActionSection{
    padding:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #fff 0% ,#fff 50%,#1c1b1d 50%, #1c1b1d 100%);
    .callToActionContainer{
        border-radius: 1rem;
        color:#fff;
        gap:1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding:5rem 3rem;
        text-align: center;
        background-color: #e88069;
        background-image: url("../assets/home/desktop/bg-pattern-hero-home.svg");
        background-position: center;
        
        h1{
            font-size: 3rem;
        }
    }
}


@media (min-width: 768px){
    #callToActionSection{
        padding:5rem;
        .callToActionContainer{
            width: 40rem;
           
        }
    }
}
