

#heroSection {
	.heroContainer {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 1rem;
		color: #fff;
		background-color: #e88069;
		height: 40rem;
		overflow: hidden;
		background-image: url("../assets/home/desktop/bg-pattern-hero-home.svg");
		background-repeat: no-repeat;
		padding: 3rem;
		background-position: bottom;

		.heroImage {
			margin-top: 4rem;
		}
	}
}

#servicesSection {
	.servicesContainer {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 3rem;
	}
}

#benefitsSection {
	.benefitsContainer {
		display: flex;
		flex-direction: column;
		gap: 5rem;
		padding: 1rem;
		.benfitCard {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			align-items: center;
			.benefitIllustration {
				.illustration {
					background-image: url("../assets/home/desktop/bg-pattern-hero-home.svg");
					background-position: center;
					background-size: contain;
				}
			}
			.benefitContent {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				text-align: center;
			}
		}
	}
}



