


.locationContainer{
    display: flex;
    flex-direction: column;
        .map{
            height:20rem;
            width:100%;
        }
    	.locationContent {
		padding: 5rem 2rem;
		background-color: #fdf4f2;
		background-image: url("../assets/shared/desktop/bg-pattern-two-circles.svg");
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		h1 {
			color: #e88069;
			font-size: 2rem;
		}
	}
}
    




.locationsList {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-bottom: 5rem;
    list-style: none;
}

.locationMap {
	position: relative;
	z-index: 1;
}

@media (min-width: 768px) {

	.locationContainer {
		gap:1rem;
        .map{
            border-radius: 1rem;
        }
        .locationContent{
            border-radius: 1rem;
            text-align: start;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            gap:20px;
        }
        .locationContent h1 {
            grid-column: 1 / -1; 
        }
        
        .locationAddress {
            grid-column: 1 / 2; 
        }
        
        .locationContact {
            grid-column: 2 / 3; 
        }
	}
}

@media (min-width: 1024px){
    .locationContainer{
        flex-direction: row;
        .map{
            width:25rem;
        }
        .locationContent{
            width: 100%;
        }
    }

    .locationsList{
        .locationItem{
            &:nth-child(odd){
                .locationContainer{
                    flex-direction: row-reverse;
                }
            }
        }
    }
}
