header{
    width: 100%;
    position: relative;
    z-index: 10;
    nav{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:5rem 15rem;

        .navLogo{
            img{
                height: 25px;
            }
        }
        .navMenu{
            display: flex;
            flex-direction: row;
            gap:2rem;
            .navLink{
                text-decoration: none;
                color:#000;
            }
        }
        button{
            display:none;
        }
    }
}

@media (max-width: 768px) {
    .header{
        nav{
            padding:3rem;
            .navMenu{
                display: none;
                flex-direction: column;
                position: absolute;
                justify-content: center;
                align-items: center;
                gap:1rem;
                top:5rem;
                left:0;
                right:0;
                background-color: #1c1b1d;
                padding:1rem;
                text-decoration: none;
                .navLink{
                    text-decoration: none;
                    color:#fff;
                }
                &.active{
                    display:flex;
                }
            }
            button{
                display: block;
                background:none;
                border:none;
                z-index: 11;
            }
        }
    }
}

@media( max-width: 1024px){
    .header{
        nav{
            padding:2rem;
        }
    }
}

