.serviceCard{
    padding:5rem 1rem;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    cursor: pointer;
}