@import "./_navbar";
@import "./_footer";
@import "./_home";
@import "./calltoaction";
@import "./_about";
@import "./_locations";
@import "./_contact";
@import "./_button";
@import "./_service";
@import "./_project";
@import "./_otherlocations";
@import "./_otherservicecard";
@import "@fontsource/jost"; // Defaults to weight 400
@import "@fontsource/jost/400.css"; // Specify weight
@import "@fontsource/jost/400-italic.css"; // Specify weight and style

*{
    margin:0;
    padding:0;
    font-family: 'Jost', sans-serif;
}

main{
    min-height:100vh;
}
body{
    display: flex;
    flex-direction: column;
}


@media (min-width:1024px){
    section{
        padding: 5rem 10rem;
    }
}
@media (min-width:1500px){
    section{
        padding: 5rem 15rem;
    }
}